body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.controls {
  margin: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

main {
  display: block;
}

.paper {
  background: white;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* Lines of the paper */
.line {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: yellowgreen;
}

.expression {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;      /* horizontal stacking */
  align-items: center;  
  justify-content: center;  /* space items centered horizontally */
  width: fit-content;
  margin: 2px;
  outline: 1px solid black; /* Add a border for visibility */
}

.fraction {
  display: flex;
  flex-direction: column; /* vertical stacking */
  align-items: flex-start; /* don't stretch width */
  width: fit-content;   
}

.numerator, .denominator {
  background-color: wheat;
}

.vinculum {
  height: 2px;
  background-color: black;
  width: 100%; /* Make the vinculum stretch across the fraction */
  display: block;
  margin: 0.1em 0;
}

.var, .const {
  background-color: thistle;
}

.operator {

  display: flex;
  align-items: center;
  justify-content: center  
}

